@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "StudentView";
}

<h2>StudentView</h2>
<div class="container">

    <div class="row">
        <div class="col-sm-4">Name</div>
        <div class="col-sm-8">Walter Isaacs</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Class</div>
        <div class="col-sm-8">7B</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Address</div>
        <div class="col-sm-8">8-9, 5th Cross, 36th Street, Ash Town</div>
    </div>

</div>


